<div class="row">
    <!-- BOARD AND CHAT COLUMN -->
    <div class="game-board-wrapper col-md-8">
        <div id="gameBoard"></div>
    </div>

    <div id="EngineOutput" class="col-md-4">Thinking Time: <br/>
		<select class="engine-component" id="ThinkTimeChoice">
    		<option value="1">1s</option>
    		<option value="2">2s</option>
    		<option value="4">4s</option>
    		<option value="6">6s</option>
    		<option value="8">8s</option>
    		<option value="10">10s</option>
		</select><br/><br/><br/>
		<span class="engine-component" id="BestOut">BestMove:</span><br/>
		<span class="engine-component" id="DepthOut">Depth:</span><br/>
		<span class="engine-component" id="ScoreOut">Score:</span><br/>
		<span class="engine-component" id="NodesOut">Nodes:</span><br/>
		<span class="engine-component" id="OrderingOut">Ordering:</span><br/>
		<span class="engine-component" id="TimeOut">Time:</span><br/><br/>
		<span class="engine-component" id="GameStatus"></span>
        <div id="aiEmoji"></div>
	</div>




</div>
