<h1 ng-show="showWait" style="text-align: center;">WAITING FOR OTHER PLAYER</h1>

<div class="" id="game-over-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Game Over</h2>
            </div>
            <div class="modal-body game-over-message">
                <h1>{{message}}</h1>
            </div>
            <div class="modal-footer">
                <button type="button" ui-sref="search" class="btn btn-primary">Return to Search</button>
                <button type="button" ng-click="closeGameOver()">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-hide="showWait">
    <!-- BOARD AND CHAT COLUMN -->
    <div class="game-board-wrapper col-md-8">
        <div id="gameBoard"></div>
        <div class="game-chat well">

        </div>
    </div>

    <!-- USERS INFO, TIMERS, AND PGN -->
    <div class="game-info-wrapper col-md-4">
        <div class="user-info">
            <span>
                <img src="opponent.profilePictureUrl" alt="#" />
                <div class="opponent-info">
                    <h1>{{opponent.firstName}} {{opponent.lastName}}</h1>
                    <h3>{{opponent.fide}}</h3>
                </div>
            </span>
            <div class="stopwatch-wrapper">
                <div class="opponentTimer stopwatch"></div>
                <ul class="oResults"></ul>
            </div>
            <div class="captured-pieces">

            </div>
        </div>
        <div class="user-info">
            <div class="captured-pieces">

            </div>
            <div class="stopwatch-wrapper">
                <div class="userTimer stopwatch"></div>
                <ul class="uResults"></ul>
            </div>
            <span>
                <img src="currentUser.profilePictureUrl" alt="#" />
                <div class="current-user-info">
                    <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
                    <h3>{{currentUser.fide}}</h3>
                </div>
                <button type="button" ng-click="resign()">Resign</button>
            </span>
        </div>
        <div class="pgn-wrapper well">
            <div class="pgn-element">
                <p>
                    <h4>{{pgn}}</h4>
                </p>
            </div>
        </div>
    </div>
</div>
