<div class="row">
    <div class="jumbotron col-md-12 col-lg-12">
        <div class="login-box container">
            <div class="text-center">
                <h1 style="color: white;"><span class="fa fa-lock"></span>Welcome to <strong style="color: purple;">Deep Purple</strong></h1>
                    <p style="color: lightgrey;">Login or Register with:</p>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span>Facebook</a>
            </div>
        </div>
    </div>
</div>
