<div class="container-fluid">
  <div class="well" id="display-user">
    <h3>User Name: {{currentUser.firstName}} {{currentUser.lastName}}</h3>
    <h4>Facebook ID: {{currentUser.facebookId}}</h4>
    <h4>Email: {{currentUser.email}}</h4>
    <h4>Link: {{currentUser.link}}</h4>
    <h4></h4>
  </div>

  <div class="row">

    <div class="col-md-3">
      <button type="button" class="btn tbn-primary" ng-click="createNewGame()">Create New Game</button>
    </div>

    <div class="col-md-3">
      <p>player type</p>
      <form>
        <label class="radio-inline"><input type="radio" name="opponent-type" ng-model="opponentType">Human</label>
        <label class="radio-inline"><input type="radio" name="opponent-type" ng-model="opponentType">AI</label>
      </form>
    </div>

    <div class="col-md-3">
      <p>Color</p>
      <form>
        <label class="radio-inline"><input type="radio" name="color" ng-model="color" value="white">White</label>
        <label class="radio-inline"><input type="radio" name="color" ng-model="color" value="black">Black</label>
      </form>
    </div>
    <div class="dropdown col-md-3">
        <!-- <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Choose Time
            <span class="caret"></span>
        </button> -->
        <select class="form-control" ng-model="time">
            <option value="30">30 Minutes</option>
            <option value="15">15 Minutes</option>
            <option value="10">10 Minutes</option>
            <option value="5">5 Minutes</option>
        </select>
    </div>
  </div>

  <div class="row games-list">
    <div class="col-md-12 well">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><strong>White</strong></th>
                        <th><strong>Black</strong></th>
                        <th><strong>Time</strong></th>
                        <th><strong>Status</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="room in games" class="game-item">
                        <th><strong>{{room.white.firstName}} {{room.white.lastName}} {{room.white.fide}}</strong></th>
                        <th><strong>{{room.black.firstName}} {{room.black.lastName}} {{room.black.fide}}</strong></th>
                        <th><strong>{{room.time}}</strong></th>
                        <th>
                            <strong>{{room.status}}</strong>
                            <button type="button" ng-click="joinGame(room)">Join Game</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>
