/*SEARCH HTML PAGE*/
.games-list{
  margin: 30px;
}




/*GAME HTML PAGE*/

#gameBoard{
    width: 600px;
}

.game-chat{
    margin-top: 20px;
    width: 600px;
    height: 200px;
    overflow: scroll;
}

/*stopwatch CSS*/
.stopwatch-wrapper{
    background: #333;
    color: #bbb;
    border-radius: 10px;
    height: 60px;
    width: 200px;
}

.stopwatch {
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*PGN*/
.pgn-wrapper{
    margin: 10px;
    overflow: scroll;
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

#game-over-modal{
    display: none;
    z-index: 999999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}

.show {
    display: block;
}

div.modal-dialog {
    margin-top: 300px;
}

.game-over-message{
    font-family: impact;
}
