/*SEARCH HTML PAGE*/
.games-list{
  margin: 30px;
}




/*GAME HTML PAGE*/

#gameBoard{
    width: 600px;
}

.game-chat{
    margin-top: 20px;
    width: 600px;
    height: 200px;
    overflow: scroll;
}

#captured-pieces-user{
    height: 100px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0;
}

#captured-pieces-opponent{
    height: 100px;
    width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    padding: 0;
}

.cap-piece{
    width: 50px;
    height: 50px;
    display: inline-block;
}

.cap-piece-image{
    width: 50px;
    height: 50px;
}

.pic-name-wrap{
    display: inline-block;
}


/*stopwatch CSS*/
.stopwatch-wrapper{
    background: #333;
    color: #bbb;
    border-radius: 10px;
    height: 60px;
    width: 200px;
}

.stopwatch {
  font-size: 48px;
  text-align: center;
  margin-bottom: 8px;
}

.results {
  border-color: lime;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/*PGN*/
.pgn-wrapper{
    margin: 10px;
    overflow: scroll;
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

#game-over-modal{
    display: none;
    z-index: 999999;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,.8);
}

.show {
    display: block;
}

div.modal-dialog {
    margin-top: 300px;
}

.game-over-message{
    font-family: impact;
}

/*BOX LOADER*/
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: white;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid darkgrey;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: white;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid darkgrey;
  border-radius: 15%;
  -webkit-transform: translate(0, -1em) rotate(-45deg);
  -moz-transform: translate(0, -1em) rotate(-45deg);
  -ms-transform: translate(0, -1em) rotate(-45deg);
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
